* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* header */
header{
    background-color: #10A19D;
    height:30vh;
    display: flex;
    align-items: center;
    width: 100vw;
}

.headerdiv{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.headerh3{
    text-align: end;
    color: aliceblue;
    width: 70vw;
    font-size: 1.5vw;
    padding:0px 10vw 0 5vw;
}

.headerspan{
padding-left: 5vw;
}

.headerspan2{
padding-left:3vh;
padding-right:3vh;
color: aliceblue;
font-size: 1.5vw;
text-decoration: none;
}
.headerspan2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.headerh1{
    color: white;
    text-align: end;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 2.7vw;
    padding:0px 10vw 0 5vw;
}

.headerimage{
    height:160px;
    width:13vw;
    padding:1.5vh 0px 1.5vh 2vw;
    
}


/* body */

.bodymaindiv{
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 70vh;
    
    
}

.bodydiv1{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: gray;
    background-image: url('https://www.isponline.org/wp-content/uploads/sites/71/2020/05/TeachersTrained-1024x1024.png');
    background-size: contain;
}
.bodydiv2{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: gray;
    background-image: url('https://www.iconbunny.com/icons/media/catalog/product/1/5/156.12-male-student-i-icon-iconbunny.jpg');
    background-size: contain;
}
.bodya{
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 3px;
    background-color: #FB2576;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
    padding: 8px;
    
}
.footer2maindiv{
    height: 15vh;
    background-color: #10A19D;
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer2span1{
    text-align: end;
    padding: 5px 40px 5px 0px;
    font-size: x-large;
}
.footer2div1{
    color: white;
}
.footer2div2{
    color: blue;
    font-weight: 500;
}
.footer2span2:hover{
    text-decoration: underline;
}
.footer2span2{
    text-align: center;
    font-size: larger;
    padding-right:10px ;
}
.footer2a{
    text-decoration: none;
    color: red;
    font-weight: 600;
}



/*body2*/
.center{

    width: 400px;
    padding-top: 30px;
    margin: auto;
    border-radius: 10px;
 }
 .center h1{
     text-align: center;
     padding: 0 0 10px 0;
     border-bottom: 1px solid silver;
 }
 .center form{
     padding: 0 40px;
     box-sizing: border-box;
 
 }

 

 form .text_field{
     border-bottom: 2px solid #adadad; 
 }
 
 
 .body2input{
    width: 100%;
     padding: 20px 0 0px 15px;
     height: 50px;
     font-size: 20px;
     border: none;
     outline: none;
     font-weight: 400;
     
 }
 
 .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
 }
 .pass:hover{
    text-decoration: underline;
 }
 .body2button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background:green;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.body2button:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color:green;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}

.signupbutton{
    padding: 10px;
}
.divnote{
    color: red;
    padding: 10px 2px 10px 2px;
    font-size: medium;
    text-align: center;
}


/* card */
.cardform{
    width: 100%;
    padding:10px 0 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.cardheaddiv{
    width: 100%;
    text-align: center;
    color: tomato;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 2px;
    border-bottom: #666666;
    text-decoration: underline;
}

.cardlabel{
    padding:8px 0 8px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carddiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12vw;
    font-size: large;
}

.cardinput{
    padding:10px ;
    display: flex;
    flex-direction: row;
}

.cardbutton{
    padding:0;
    margin: auto;
    width: 12vw;
    height: 8vh;
    color: white;
    background-color: #10A19D;
    border-radius: 4px;
    font-size: 20px;
    border: none;
}
.cardbutton:hover{
    cursor: pointer;
}


/* createaccount */

.formcreateaccount{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.cardbutton1{
    width: 10vw;
    height: 8vh;
    color: white;
    background-color: red;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    margin: auto;
}
.cardbutton1:hover{
    cursor: pointer;
    background-color: green;
}

/* createpassword */

.passwordmatch{
   color: transparent;
}
.passwordnotmatch{
   color: tomato;
}



@media only screen   
and (min-device-width : 280px)   
and (max-device-width : 699px)  
{ .headerimage{
    height: 80px;
    width: auto;
}
header{
    width: 100vw;
}
.headerdiv{
    width: 60vw;
    
}
.headerh3{
    font-size: 3vw;
    padding-right:0vw ;
    padding-left:1vw ;
    text-align: start;
    width: 100%;
    }
.headerh1{
    font-size: 5vw;
    padding-right: 0vw;
    padding-left: 1vw;
    text-align: start;
    }
    .headerspan2{
        font-size: 10px;
    }
    .bodydiv1{
        width: 130px;
        height: 130px;
        margin: 5px;
    }
    .bodydiv2{
        width:130px;
        height: 130px;
        margin: 5px;
    }
    .bodya{
        padding: 5px;
        font-size: 18px;
    }
    .footer2span2{
        font-size: larger;
    }
    .footer2span1{
        font-size: larger;
    }

    .center{
        width: 280px;
        padding: 0 0 0 0;
        
    }
    .center h1{
        font-size:larger;
    }
    .signupbutton{
        padding: 5px;
        width: 60%;
    }

} 
@media only screen   
and (min-device-width : 700px)   
and (max-device-width : 1024px)  
{ .headerimage{
    height: 130px;
    width: auto;

}
header{
    width: 100vw;
}
.headerdiv{
    width: 60vw;
    justify-content: center;
}

.headerh3{
    font-size: 3vw;
    padding-right:0vw ;
    padding-left:1vw ;
    text-align: start;
    }
.headerh1{
    font-size: 4vw;
    padding-right: 0vw;
    padding-left: 1vw;
    text-align: start;
    }
.headerspan2{
    font-size: 2vw;
}
}
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{ .headerimage{
    height: 150px;
}

} 
@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{ .headerimage{
    height: 170px;
}}

@media only screen   
and (orientation : landscape)   
and (-webkit-min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px)   
{ .headerimage{
    height: 130px;
}}
@media only screen   
and (orientation : portrait)   
and (-webkit-min-device-pixel-ratio: 1)   
and (min-device-width : 768px)   
and (max-device-width : 1007px)  
{ .headerimage{
    height: 130px;
}} 

